<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uploader | Symfony2 Media Bundle by Mykees</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300|Karla:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="page">

    <div class="header header--media">
        <div class="header__container">
            <h1>Symfony2 <span>MediaBundle</span></h1>
        </div>
    </div>

    <div class="content">

        <div class="content_container">
            <div class="nav">
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/index.html">Présentation</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/configuration.html">Configuration</a>
                <a class="nav__link nav__link--current" href="http://Mykees.github.io/MkMediaBundle/uploader.html">Uploader</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/usage.html">Usage</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/options.html">Options</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/infos.html">More infos</a>
            </div>

            <div class="content__text">


                <div class="alert alert-warning">
                    <strong>/!\</strong> To use media uploader you need to have an <strong>entity with an ID</strong>
                </div>


                <h2 class="title-section">WYSIWYG(Tinymce) Uploader :</h2>

                <p>Add <strong>editor_uploader</strong> twig extension in javascript block in your page and pass your entity object to the extension :</p>

<pre>
<code><div class="light-code">    // src/YourProject/YourBundle/Resources/views/Blog/edit.html.php

    {% extends 'base.html.twig' %}

    {% block body %}
    .....
    {% endblock %}
</div>

    {% block javascripts %}
    <strong>    {{ parent() }}
        {{ editor_uploader(post) }}</strong>
    {% endblock %}
</code>
</pre>

                <p>Add class <strong>tinymce_init</strong> to your textarea</p>


                <h2 class="title-section">Iframe Uploader :</h2>


                <p>Use <strong>iframe_uploader</strong> twig extension in your page and pass your entity object to the extension:</p>
<pre><code><div class="light-code">// src/YourProject/YourBundle/Resources/views/Blog/edit.html.php</div>
{{ iframe_uploader(post) }}
</code></pre>


                <h2 class="title-section">Path destination :</h2>

                When you upload media, they are uploaded automatically in the following folders (from web folder) :
                <p>"<strong>img/current_month/current_year/</strong>your_media.jpg"</p>

                <p>This path can be configured soon.</p>

            </div>

        </div>

    </div>


    <!--OTHERS PROJECTS-->
    <div class="others__projects">

        <div class="block__projects project__left">
            <h2 class="project__title project__tag">
                <a href="http://Mykees.github.io/MkTagBundle/">
                    <span>Symfony2 TagBundle</span>
                </a>
            </h2>
        </div>
        <div class="block__projects">
            <h2 class="project__title project__comment">
                <a href="http://Mykees.github.io/MkCommentBundle/">
                    <span>Symfony2 CommentBundle</span>
                </a>
            </h2>
        </div>

    </div>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>