<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Usage | Symfony2 Media Bundle by Mykees</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300|Karla:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="page">

    <div class="header header--media">
        <div class="header__container">
            <h1>Symfony2 <span>MediaBundle</span></h1>
        </div>
    </div>

    <div class="content">

        <div class="content_container">
            <div class="nav">
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/index.html">Présentation</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/configuration.html">Configuration</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/uploader.html">Uploader</a>
                <a class="nav__link nav__link--current" href="http://Mykees.github.io/MkMediaBundle/usage.html">Usage</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/options.html">Options</a>
                <a class="nav__link" href="http://Mykees.github.io/MkMediaBundle/infos.html">More infos</a>
            </div>

            <div class="content__text">

                <h2 class="title-section">Retrieve your medias</h2>


                <h3 class="sub-section">In your controller :</h3>

                <p>To retrieve your media, you can use some useful functions :</p>

                <pre><span class="medium-code">// Find all media for an object</span>
<code>$this-&gt;get('mk.media.manager')-&gt;findMedias($object);</code></pre>


                <pre><span class="medium-code">// Find all media for an array of objects</span>
<code>$this-&gt;get('mk.media.manager')-&gt;findMediasByArrayObject($arrayObject);
</code></pre>

                <pre><span class="medium-code">// Find all media for a model name</span>
<code>$medias = $this-&gt;get('mk.media.manager')-&gt;findMediasByModel($model_name);
</code></pre>


                <pre><span class="medium-code">// Find all media for a model name and a model id</span>
<code>$medias = $this-&gt;get('mk.media.manager')-&gt;findMediasByModelAndId($model_name, $model_id);
</code></pre>



                <h3 class="sub-section">In your view :</h3>

                <p>By example, if you have recovered your media with an entity Post or array of entities, you can display them like that :</p>

                <pre><code>{% for media in post.getMedias %}

    {% if media.file != post.thumb.file %}

        &lt;img src="{{ asset('img/'~media.file) }}" alt=""/&gt;
        {{ image(asset('img/'~media.file), 250,250) }}

    {% endif %}

{% endfor %}
                </code></pre>



                <h2 class="title-section">Featured Image</h2>

                <p>If you want to add a featured image, add $thumb variable in your Mediable entity:</p>

<pre><code><div class="light-code">//YourProject/YourBundle/Entity/Post</div>
class Post implement Mediable {
<div class="light-code">    ....</div>
    /**
    * @ORM\ManyToOne(targetEntity="Mykees\MediaBundle\Entity\Media", cascade={"persist", "remove"})
    * @ORM\JoinColumn(name="thumb_id", referencedColumnName="id")
    */
    private $thumb;
<div class="light-code">    ....</div>
}
</code></pre>


                <p>Don't forget to update you entity and your database:</p>
<pre><code>$ php app/console doctrine:generate:entities YourProject/YourBundle/Entity/Post
$ php app/console doctrine:schema:update --force
</code></pre>
                <p>Now in your <strong>Media Uploader</strong> you can add a featured image.</p>


                <h3 class="sub-section">Retrieve the Feature image</h3>
                <p>In your view :</p>

<pre><code>{% if post.thumb != null %}
    &lt;img src="{{ asset('img/'~post.thumb.file) }}" alt=""/&gt;
{% endif %}
</code></pre>

            </div>

        </div>

    </div>


    <!--OTHERS PROJECTS-->
    <div class="others__projects">

        <div class="block__projects project__left">
            <h2 class="project__title project__tag">
                <a href="http://Mykees.github.io/MkTagBundle/">
                    <span>Symfony2 TagBundle</span>
                </a>
            </h2>
        </div>
        <div class="block__projects">
            <h2 class="project__title project__comment">
                <a href="http://Mykees.github.io/MkCommentBundle/">
                    <span>Symfony2 CommentBundle</span>
                </a>
            </h2>
        </div>

    </div>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>