html body {
    background: transparent;
}

div.container { 
    width: auto;
    min-width: 100%;
    background: transparent;
}

div.container .upload-area {
    padding: 1px;
}

div.container .dropzone {
    min-height: 30px;
}

div.container .dropzone .dz-default.dz-message {
    background-image: none;
    top: none;
    left: none;
    margin: 0;
    height: auto;
    width: auto;
    position: relative;
}

