/* make sure the parent has a w/h */
.verticalAlignText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    float: left;
    margin-left: 10px;
}

/* Widget */

.media-widget {
    width: 230px;
    min-height: 300px;
    border: 1px solid black;
    background: linear-gradient(#ededed, #ddd);
    overflow-y: scroll;
    overflow-x: hidden;
    resize: both;
}

.media-widget input.original-value,
.media-widget input.last-set-value {
    display: none;
}

.media-widget .image-info-text {
    font-size: 11px;
    font-weight: light;
    color: #A94442;
}

.media-widget input[type="radio"] {
    display: none;
}

.media-widget label {
    height: 100%;
    width: 100%;
}

.media-widget .filename {
    font-size: 15px;
    font-weight: normal;
}

.media-widget .media-row {
    border-radius: 3px;
    background: linear-gradient(0, #DDDDDD, #CCCCCC);
    font-size: 17px;
    font-weight: bold;
    height: 70px;
    width: 250px;
    float: left;
    margin: 1px;
    max-width: 100%;
}

.media-widget .media-row.clickable,
.media-widget .media-row.clickable label {
    cursor: pointer;
}

.media-widget .media-option.selected {
    background-color: #B4BFA8;
    background-image: linear-gradient(#B4BFA8, #8AC383);
}

.media-widget .media-option.selected img {
    border: 1px dotted #025605;
}

.media-widget .media-option {
    font-size: 16px;   
    font-weight: normal;
}

.media-widget .previous-image-container {
    background: linear-gradient(0, #999, #777);
    background-image:url('/bundles/mykeesmedia/images/stripe.png')
}

.media-widget .current-image-container,
.media-widget .previous-image-container {
    height: 60px;
    width: 200px;
}

.media-widget .media-row img {
    max-width: 50px;
    max-height: 50px;
    float: right;
    border-radius: 5px;
    opacity: 0.85;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 4px;
    border: 1px solid #AAA;
}

.media-widget .media-option:hover {
    background: linear-gradient(0, #CCC, #DDD);
}

.media-widget .wiget-item-container {
    float: left;
}

.media-widget .media-status {
    float: left;
}

.media-widget .upload-area {
    float: none;
    height: 100%; 
    background-color: red;
    overflow: hidden;
}

.topwrapper {
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.clear {
    clear: both;
}
